html{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  position: relative;
}
p{
  margin: 0px;
}
#loading{
  margin: 0px;
  position: absolute;
  left: 45%;
  top: 10%;
}
#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFF;
  z-index: 1;
}
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top:0px;
  z-index: -9998;
}
.header{
  width: auto;
  height: 70px;
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 0px;
  background-color: white;
  display: flex;
}
.title{
  width:30%;
  height:70px;
  margin-left: 15%
}
.title p{
  margin: 0px;
  height: 72px;
}
.nav{
  width:40%;
  height:70px;
  margin-right: 100px;
  margin-left: 20%;
  position: relative;
}
ul{
  margin: 0px;
  margin-top: 20px;
}
li{
  display: inline-block;
  width: 15%;
  margin-left: 3%;
  text-align: center;
  font-size: 20px;
}
.nav a{
  text-decoration: none;
}
a:link {
 color: #000000;
}
a:visited {
  color:#000000;
}
.nav span {
  background:black;
  height:2px;
  display:block;
  position:relative;
  width:50px;
  left:0;
}
.contents{
  width:80%;
  margin: auto;
  margin-top: 70px;
}
h1{
  text-align: center;
}
.main{
  width:50%;
  height:800px;
  display:inline-block;
  margin-top: 30px;
  margin-left: 3%;
  vertical-align: top;

}
.nav_list{
  width:15%;
  height:500px;
  margin-left: 13%;
  display:inline-block;
}
.nav_list p{
  width:80%;
  margin: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.new {
  font-size: 14px;
  width:80%;
  font-weight: normal;
  margin: auto;
  margin-top:15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.main h2{
  font-size: 25px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 5px;
}
.main p{
  margin-left: 20px;
}
.date{
  margin-bottom: 15px;
  color:rgba(0, 0, 0, 0.4);
}
.cssload-wrap {
	width: 195px;
	height: 195px;
	margin: 97px auto;
	position: relative;
	perspective: 3900px;
		-o-perspective: 3900px;
		-ms-perspective: 3900px;
		-webkit-perspective: 3900px;
		-moz-perspective: 3900px;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-circle {
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	opacity: 0;
	width: 195px;
	height: 195px;
	border: 2px solid rgba(0,0,0,0.8);
	border-radius: 146px;
	position: absolute;
	top: 0;
	left: 0;
	animation: cssload-spin 10.5s ease-in-out alternate infinite;
		-o-animation: cssload-spin 10.5s ease-in-out alternate infinite;
		-ms-animation: cssload-spin 10.5s ease-in-out alternate infinite;
		-webkit-animation: cssload-spin 10.5s ease-in-out alternate infinite;
		-moz-animation: cssload-spin 10.5s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
	animation-delay: 175ms;
		-o-animation-delay: 175ms;
		-ms-animation-delay: 175ms;
		-webkit-animation-delay: 175ms;
		-moz-animation-delay: 175ms;
}
.cssload-circle:nth-of-type(2) {
	animation-delay: 350ms;
		-o-animation-delay: 350ms;
		-ms-animation-delay: 350ms;
		-webkit-animation-delay: 350ms;
		-moz-animation-delay: 350ms;
}
.cssload-circle:nth-of-type(3) {
	animation-delay: 525ms;
		-o-animation-delay: 525ms;
		-ms-animation-delay: 525ms;
		-webkit-animation-delay: 525ms;
		-moz-animation-delay: 525ms;
}
.cssload-circle:nth-of-type(4) {
	animation-delay: 700ms;
		-o-animation-delay: 700ms;
		-ms-animation-delay: 700ms;
		-webkit-animation-delay: 700ms;
		-moz-animation-delay: 700ms;
}
.cssload-circle:nth-of-type(5) {
	animation-delay: 875ms;
		-o-animation-delay: 875ms;
		-ms-animation-delay: 875ms;
		-webkit-animation-delay: 875ms;
		-moz-animation-delay: 875ms;
}



@keyframes cssload-spin {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-o-keyframes cssload-spin {
	0% {
		-o-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-o-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-o-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-o-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-o-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-ms-keyframes cssload-spin {
	0% {
		-ms-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-ms-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-ms-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-ms-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-ms-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-webkit-keyframes cssload-spin {
	0% {
		-webkit-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-webkit-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-webkit-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-webkit-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-webkit-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-moz-keyframes cssload-spin {
	0% {
		-moz-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-moz-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-moz-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-moz-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-moz-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}
