charset "utf-8"
@font-face{
  font-family: 'myFont';
  src: url('../fonts/myfont.woff') format('woff');
}
/*about.css*/
@media screen and (min-width:1000px) {
  html{
    margin: 0px;
    padding: 0px;
  }
  body{
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #loading{
    position: absolute;
    left: 50%;
    top: 30%;
  }
  #loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 1;
  }
  #particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top:0px;
    z-index: -9998;
  }
  .header{
    width: auto;
    height: 70px;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
  }
  .title{
    width:30%;
    height:70px;
    margin-left: 15%
  }
  .title p{
    margin: 0px;
    height: 72px;
  }
  .nav{
    width:40%;
    height:70px;
    margin-right: 100px;
    margin-left: 20%;
    position: relative;
  }
  ul{
    margin: 0px;
    margin-top: 20px;
  }
  li{
    display: inline-block;
    width: 15%;
    margin-left: 3%;
    text-align: center;
    font-size: 20px;
  }
  .nav a{
    text-decoration: none;
  }
  a:link {
    color: #000000;
  }
  a:visited {
    color:#000000;
  }
  .nav span {
    background:black;
    height:2px;
    display:block;
    position:relative;
    width:50px;
    left:0;
  }
  .contents{
    width:1300px;
    height:1300px;
    margin: auto;
    margin-top: 30px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
  }
  .container{
    width:1300px;
    margin: auto;
  }
  .item1{
    width:400px;
    height:250px;
    margin-left: 47px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
  }
  .item1_hover{
    width:400px;
    height:250px;
    margin: 0px;
    position: absolute;
    bottom:0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .item1_hover:hover{
    opacity: 0;
  }
  a:hover{
    opacity: 1;
  }
  .item1_img{
    width:400px;
    height:250px;
    margin: 0px;
    position: relative;
  }
  .item1 p{
    margin: 0px;
  }
  .item2 img{
    width:400px;
    height:250px;
    margin: 0px;
    position: relative;
  }
  .item3 img{
    width:400px;
    height:250px;
    margin: 0px;
    position: relative;
  }
  .item1_hover p{
    color:white;
    margin: 0px;
  }
  .item2 p{
    margin: 0px;
  }
  .item3 p{
    margin: 0px;
  }
  .item2{
    width:400px;
    height:250px;
    border: 1px solid black;
    display: inline-block;
  }
  .item3{
    width:400px;
    height:250px;
    border: 1px solid black;
    display: inline-block;
  }
  h1{
    text-align: center;
  }
}
/*スマホ用*/
@media screen and ( max-width:479px ){
  html,body {

   }
  html{
    margin: 0px;
    padding: 0px;
  }
  body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
  }
  #loading{
    position: absolute;
    left: 50%;
    top: 30%;
  }
  #loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 2;
  }
  #particles {
    width: 100%;
    height: 110%;
    overflow: hidden;
    position: absolute;
    top:0px;
    z-index: -9998;
  }
  html,body {

  }
  html{
    margin: 0px;
    padding: 0px;
  }
  body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
  }
  #loading{
    position: absolute;
    left: 50%;
    top: 30%;
  }
  #loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 2;
  }
  #particles {
    width: 100%;
    height: 110%;
    overflow: hidden;
    position: absolute;
    top:0px;
    z-index: -9998;
  }
  .header{
    width: auto;
    height: 40px;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
  }
  .title{
    width:30%;
    height:70px;
    margin-left: 5%;
  }
  .title img{
    height:70%;
  }
  .title p{
    margin: 0px;
    height: 72px;
  }

  .nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 16px ;

  }
  .nav li{
    margin: auto;
  }
  #nav_toggle{
    display: none;
  }

  /*メニュー部分*/
  .nav{
    display: none;
    position: absolute;
    top:42px;
    width: 100%;
    background: #778899;
    left: 0;
    z-index: 2;
  }
  .nav ul{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 0px;
  }
  .nav ul li{
    margin: 0 auto;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #fff;
  }
  .nav ul li:last-child{
    border: none;

  }
  .nav ul li a{
    text-decoration: none;
    display: block;
  }
  #nav_toggle{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 52%;
    margin-top: 12px;
    z-index: 1;
  }
  #nav_toggle div {
    position: relative;
  }
  #nav_toggle span{
    display: block;
    height: 2px;
    background: #000;
    position:absolute;
    width: 90%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #nav_toggle span:nth-child(1){
    top:0px;
  }
  #nav_toggle span:nth-child(2){
    top:9px;
  }
  #nav_toggle span:nth-child(3){
    top:18px;
  }

  /*開閉ボタンopen時*/
  .open #nav_toggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .contents{
    width:70%;
    height:100%;
    margin: auto;
    margin-top: 30px;
  
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
  }
  .container{
    width:70%;
    margin: auto;
  }
  .item1{
    width:90%;
    height:40%;
    margin: auto;
    padding-top: 20px;
    position: relative;
  }
  a:hover{
    opacity: 1;
  }
  .item1 img{
    width:100%;
    height:100%;
    margin: 0px;
    position: relative;
  }

  .item2{
    width:90%;
    height:40%;
    margin: auto;
    margin-top: 70px;
  }
  .item2 img{
    width:100%;
    height:100%;
    margin: 0px;
    position: relative;
  }
  .item3{
    width:90%;
    height:40%;
    margin: auto;
    margin-top: 70px;
  }
  .mobile{
    border-bottom:solid 1px #ccc;
    margin-bottom: 10px;
    text-align: center;
  }
  .item3 img{
    width:100%;
    height:100%;
    margin: 0px;
    position: relative;
  }
  h1{
    text-align: center;
  }
}
